.profile {
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 50%;
    object-position: center;
    margin-top: -5rem;
    position: relative;
    backface-visibility: hidden;
    &::after {
      content: "hi :)";
      font-size: 2rem;
      color: #fff;
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      z-index: 1;
      opacity: 0;
      transition: all 0.5s ease;
      transform: translateY(100%);
    }
    img {
      width: 100%;
      transform: scale(1.15);
      transition: all 0.5s ease;
    }
  }
  .profile:hover {
    &::after {
      opacity: 1;
      transform: translateY(-50%);
    }
    img {
      transform: scale(1);
      filter: blur(0.4rem);
    }
  }
  